:root {
  --main-black: #232c33;
  --main-white: #ffffff;
  --second-white: #fbfbfb;
  --dark-gray: #3f3f50;
  --light-gray: #808080;
  --bordo: #973232;
  --rect-1: #1d1f34;
  --rect-2: #6b344b;
  --rect-3: #c25558;
  --rect-4: #eb987a;
  --rect-5: #a96f6d;
  --rect-6: #c06c6c;
  --button-text: #804756;
  --light-shadow-color: rgba(0, 0, 0, 0.1);
}
