:root {
  --main-black: #232C33;
  --main-white: #FFFFFF;
  --second-white: #FBFBFB;
  --dark-gray: #3F3F50;
  --light-gray: #808080;
  --bordo: #973232;
  --rect-1: #1D1F34;
  --rect-2: #6B344B;
  --rect-3: #C25558;
  --rect-4: #EB987A;
  --rect-5: #A96F6D;
  --rect-6: #C06C6C;
  --button-text: #804756;
  --light-shadow-color: rgba(0, 0, 0, 0.1);
}
