.footer {
  background: #3F3F50;
  padding: 32px 0;
  color: #fff;
  &__menu {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: 100%;
    @media(min-width:1024px) {
      flex-flow: row nowrap;
      align-items: center;
    }
  }
  &__logo {
    max-width: 60px;
    & img {
      width: 100%;
    }
  }
  &-list {
    
    align-items: center;
    margin: 0;
    padding: 0;
    margin-left: 30px;
    @media(min-width:1280px) {
      margin-left: 150px;
      display: flex;
    }
    &__item {
      list-style-type: none;
      font-size: 14px;
      font-weight: 300;
      text-transform: uppercase;
      & a {
        text-decoration: none;
        color: var(--main-white);
        padding: 4px 0;
        display: flex;
        align-items: center;
        transition: all 0.1s;
        @media(min-width:1024px) {
          padding: 0 22px;
          font-size: 16px;
        }
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
  &__copyright {
    font-size: 18px;
    font-weight: 400;
    color: var(--main-white);
    margin-top: 10px;
    margin-left: 90px;
    text-transform: uppercase;
    text-decoration: none;
    @media(min-width:1024px) {
      margin-left: auto;
      margin-top: 0;
    }
  }
}
