.header {
  position: sticky;
  top: 0;
  width: 100%;
  background: var(--second-white);
  z-index: 100;
  height: 60px;
  box-shadow: 0 4px 4px 0 var(--light-shadow-color);

  &__container {
    height: 60px;
  }

  &__menu {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 100%;
  }

  &__logo {
    & a {
      display: flex;
      align-items: center;
      gap: 16px;
      text-decoration: none;
      font-weight: 500;
      font-size: 18px;
      color: var(--main-black);

      &:hover {
        opacity: 0.7;
      }
    }
  }

  &-list {
    display: none;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;

    @media (min-width: 1024px) {
      display: flex;
      margin-left: 35px;
    }

    @media (min-width: 1280px) {
      margin-left: 150px;
    }

    &__item {
      list-style-type: none;
      font-size: 16px;
      font-weight: 300;
      text-transform: uppercase;
      height: 100%;

      & a {
        height: 100%;
        text-decoration: none;
        color: var(--main-black);
        padding: 0 22px;
        display: flex;
        align-items: center;
        transition: all 0.1s;

        &:hover {
          background: var(--dark-gray);
          color: var(--second-white);
        }
      }
    }
  }

  &__auth {
    display: none;
    font-size: 18px;
    font-weight: 400;
    color: var(--main-black);
    margin-left: auto;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      opacity: 0.7;
    }

    @media (min-width: 1024px) {
      display: block;
    }
  }
}
